/* line 2, ../sass/_utilities.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/_utilities.scss */
:root {
  --ripple-top: 50%;
  --ripple-left: 50%;
}

@keyframes pop-text {
  50% {
    transform: scale(1.4);
  }
}
/* line 3, ../sass/_home.scss */
.home .showcase {
  height: 30em;
  display: grid;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  background: #ddd;
}
/* line 14, ../sass/_home.scss */
.home .showcase h1 {
  margin-bottom: 20px;
}
/* line 17, ../sass/_home.scss */
.home .showcase h2 {
  text-transform: initial;
}
/* line 22, ../sass/_home.scss */
.home .content {
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: center;
  grid-gap: 2em;
  padding: .5em;
  text-align: center;
}
/* line 29, ../sass/_home.scss */
.home .content > h1 {
  padding: 3em 0;
  grid-column: 1 / -1;
}
/* line 34, ../sass/_home.scss */
.home .content section {
  margin: 2em auto;
}
/* line 37, ../sass/_home.scss */
.home .content section .img {
  padding: 3em .5em;
  background-color: #ddd;
  border-radius: 10px;
  font-size: 2em;
}

/* line 5, ../sass/screen.scss */
body {
  user-select: none;
}

/* line 13, ../sass/screen.scss */
.sidebar {
  display: none;
}

/* line 17, ../sass/screen.scss */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .3em .8em;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .3),     -1px 0 2px rgba(0, 0, 0, .3);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .3),     -1px 0 2px rgba(0, 0, 0, .3);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .3),     -1px 0 2px rgba(0, 0, 0, .3);
}
/* line 35, ../sass/screen.scss */
.top-bar .button {
  width: 42px;
  height: 42px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  transition: .5s;
}
/* line 43, ../sass/screen.scss */
.top-bar .button .bar {
  padding: 2px;
  background: #3f3f3f;
  width: 85%;
  margin: 2px auto;
  border-radius: 5px;
}

/* line 53, ../sass/screen.scss */
.button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 64, ../sass/screen.scss */
.button {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
/* line 70, ../sass/screen.scss */
.button .ripple {
  content: '';
  position: absolute;
  top: var(--ripple-top);
  left: var(--ripple-left);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.08);
  width: 0;
  height: 0;
  border-radius: 50%;
}

/* line 83, ../sass/screen.scss */
.pop-text {
  display: inline-block;
  -webkit-animation: pop-text 1.2s infinite;
  -moz-animation: pop-text 1.2s infinite;
  animation: pop-text 1.2s infinite;
}

/* line 88, ../sass/screen.scss */
.content {
  display: grid;
}

/* line 92, ../sass/screen.scss */
.footer {
  height: 30vh;
  background: #ddd;
  display: grid;
  align-items: center;
  text-align: center;
}
