
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ripple-top: 50%;
  --ripple-left: 50%;
}

body {
  
}

@mixin box-shadow($value) {
  -webkit-box-shadow: unquote($value);
  -moz-box-shadow: unquote($value);
  box-shadow: unquote($value);
}

@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  animation: $value;
}

@keyframes pop-text {
  50% {
    transform: scale(1.4);
  }
}


