@import "variables";
@import "utilities";
@import "home";

body {
  user-select: none;
}

main {
  
}

.sidebar {
  display: none
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .3em .8em;
  background: $primary-color;
  // width: calc(100% - 4px);
  @include box-shadow(
    "1px 2px 3px rgba(0, 0, 0, .3), \
    -1px 0 2px rgba(0, 0, 0, .3)"
  );
  
  .button {
    width: 42px;
    height: 42px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    transition: .5s;
    
    .bar {
      padding: 2px;
      background: #3f3f3f;
      width: 85%;
      margin: 2px auto;
      border-radius: 5px;
    }
  }
}

%no-highlights {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button {
  position: relative;
  cursor: pointer;
  @extend %no-highlights;
  overflow: hidden;
  
  .ripple {
    content: '';
    position: absolute;
    top: var(--ripple-top);
    left: var(--ripple-left);
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.08);//radial-gradient(rgba(0, 0, 0, .2) 20%, rgba(0, 0, 0, .1) 60%);
    width: 0;
    height: 0;
    border-radius: 50%;
  }
}

.pop-text {
  display: inline-block;
  @include animation(pop-text 1.2s infinite);
}

.content {
  display: grid;
}

.footer {
  height: 30vh;
  background: $secondary-color;
  display: grid;
  align-items: center;
  text-align: center;
}

