@import "variables";
@import "utilities";
@import "home";
@import "other_pages";

body {
  user-select: none;
  background: $primary-color;
  color: $primary-text-color;
}

main {
  
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .3em .8em;
  background: $primary-color;
  @include box-shadow(
    "1px 2px 3px rgba(0, 0, 0, .3), -1px 0 2px rgba(0, 0, 0, .3)"
  );
  height: $topbar-height;
  overflow: hidden;
  
  .button {
    width: 45px;
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    transition: .5s;
    border-radius: 50%;
    padding: 2px;
    
    .bar {
      padding: 2px;
      background: $third-color;
      width: 85%;
      margin: 2px auto;
      border-radius: 5px;
      transition: .3s;
    }
  }
  
  &:before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, $secondary-color var(--page-progress), transparent var(--page-progress));
    top: 0;
    left: 0;
    right: 0;
    padding: 2px;
  }
  
  .logo {
    width: 75px;
  }
}

.button {
  position: relative;
  cursor: pointer;
  @extend %no-highlights;
  overflow: hidden;
  
  .ripple {
    content: '';
    position: absolute;
    transform: translate(-50%);
    background: rgba(0,0,0,.08);
    width: 0;
    height: 0;
    border-radius: 50%;
  }
}

.sidebar {
  transition: .3s;
  text-align: left;
  background: $primary-color;
  overflow-y: auto;
  
  .sidebar-list {
    list-style-type: none;
    
    .bar-item {
      transition: .3s;
      
      a {
        color: $primary-text-color;
        @extend %no-highlights;
        display: block;
        outline: 1px solid transparent;
      }
      
      &.active {
        background: darken($third-color, 25%);
        a {
          color: $secondary-color;
        }
      }
    }
  }
}

.pop-text {
  display: inline-block;
  @include animation(pop-text 1.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite);
  color: $secondary-text-color;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.content {
  display: grid;
}

.subscription {
  max-width: 40em;
  padding: 3.2em 20px;
  margin: 4em auto;
  background: $secondary-color;
  border-radius: $border-radius;
  
  h1 {
    padding: 20px;
    text-align: center;
    
    .pop-text {
      padding-right: .5em;
    }
  }
  
  input {
    padding: 15px;
    margin: 15px auto;
    display: block;
    border: 0;
    outline: none;
    font-size: 1.1em;
    
    &[type='email'],
    &[type='text'] {
      width: 90%;
      margin-top: 20px;
      border-radius: $border-radius / 2;
    }
    
    &[type='submit'] {
      width: 5em;
      border-radius: $border-radius;
      background: $third-color;
      color: $secondary-text-color;
    }
  }
}

.footer {
  height: 12em;
  background: $secondary-color;
  display: grid;
  grid-template-rows: 80% 20%;
  align-items: center;
  text-align: center;
  
  .bottom {
    background: $third-color;
    color: $secondary-text-color;
    padding: 10px;
    align-self: end;
  }
}

